.App {
  text-align: center;
  height: 100%;
}

.body {
  display: flex;
  height: 80%;
}

.left-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.context-input {
  font-size: 32px;
  height: 90%;
  width: 99%;
  border: 3px solid black;
}

.context-submit {
  margin: 10px;
  width: auto;
  font-size: 32px;
}

.right-box {
  width: 50%;
  text-align: center;
}

.context-output {
  margin: 0px;
  padding-left: 20px;
  border: 3px solid black;
  font-size: 32px;
  text-align: left;
  height: 95%;
}
